*{
    margin: 0;
    padding: 0;
}
.navbar{
   list-style: none;
   padding: 1rem 1rem;
   display: flex;
   margin-left: 73%;
   font-size: 18px;

}
a{
    text-decoration: none;
}
.navbar a{
    
    display: block;
    color: rgba(255, 255, 255, 0.55);
    padding: 0.15rem ;
    margin-right: 1rem;
}
.head{
    background-color: #212529;
}
.first{
    background: linear-gradient(180deg,#0d6dfd,#0d6dfdd5);
    text-align: center;
    padding: 8rem 0 ;
    color: #fff;
    width: 100%;
}
.first h1{
    font-size: 40px;
    margin: 0 0 8px;

    
}
.first p{
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 40px;
}
.first a{
    font-weight: 400;
    font-size: 20px;
    color: #000;
    background-color: #f9fafb;
    border-color: #f9fafb;
    border-radius: 0.3rem ;
    padding: 16px 20px;
    
}
#about{
    padding: 144px 0;
    width: 40%;
    margin:auto;
}
#about h2{
    font-size: 32px;
    font-weight: bold;
}
#about p{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}
#about ul{
    font-size: 16px;
    padding: 0 0 0 32px;
}
.services{
    background-color: #f8f9fA;
}
#services{
    
    width: 40%;
    margin: auto;
    padding: 144px 0;
    
}
#service h2{
    font-size: 32px;
    margin: 0 0 8;
}
#services p{
    font-size: 20px;
    margin: 0 0 16px;
}
#contact{
    width: 40%;
    margin: auto;
    padding: 144px 0;
}
#contact h2{
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 8px;
}
#contact p{
    font-size: 20px;
    margin: 0 0 16px;
}
footer{
    width: 100%;
    margin: auto;
    padding:48px 0 ;
    color: #fff;
    background-color: #212529;
}
.footer{
    text-align: center;
    background-color: #212529;
}